@use "../partials/theme";
@use "sass:color";
$accordion-height: 400px;
.features {
  color: white;
  --s: 140px; /* control the size */
  display: flex;
  flex-direction: column;
  --_g: #0000 52%, white /* first color */ 54% 57%, #0000 59%;
  background: radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0
      calc(var(--s) / 2),
    radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s) / 2)
      0,
    radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
    radial-gradient(farthest-side at 50% -33.33%, var(--_g)), #281c2d; /* second color */
  background-size: calc(var(--s) / 4.667) var(--s),
    var(--s) calc(var(--s) / 4.667);
}
.section-title {
  margin: 20px;
  font-size: 32px;
}
.section-description {
  text-align: center;
  width: clamp(100px, 70vw, 450px);
  line-height: 1.4;
}

.speed {
  width: 80%;
  max-width: 700px;
  margin-top: 20px;
  padding: 20px;
  margin-inline: auto;
  background-color: theme.$primary;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .speed-graph {
    padding: 20px;
    width: 95%;
    height: 200px;
    background-color: rgb(44, 39, 49);
    margin-top: 40px;
    margin-inline: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.graph-item {
  .graph {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-inline: -10px;
    @media (max-width: 900px) {
      margin-inline: -30vw;
    }
    .graph-text {
      position: relative;
      top: 70px;
    }
    progress {
      -webkit-appearance: none;
      appearance: none;
      transform: rotate(-90deg);
      height: 30px;
      border: 1px solid;
      &[data-glow="true"] {
        &::-webkit-progress-value {
          background: linear-gradient(
            90deg,
            rgb(200, 31, 200),
            rgb(107, 107, 194),
            rgb(112, 219, 255)
          );
        }
      }
      &::-webkit-progress-bar,
      &::-moz-progress-bar {
        border-radius: 30px;
        border: 1px solid;
      }
    }
  }
  width: 100%;
}
progress::-webkit-progress-value {
  background-color: rgb(117, 1, 117);
  border-radius: 5px;
}
.fade {
  background: linear-gradient(
    180deg,
    transparent 5%,
    color.change(theme.$primary, $alpha: 0.5) 10%,
    theme.$primary 80%
  );
  width: 100px;
  height: 100px;
  position: relative;
  top: 40px;
  width: 100%;
}
.content {
  background: linear-gradient(180deg, theme.$primary 80%, transparent 100%);
  margin-top: 40px;
  padding: 20px;
  padding-bottom: 100px;
  @media (max-width: 768px) {
    padding-bottom: 200px;
  }
  * {
    margin-inline: auto;
  }
  .examples {
    max-width: 950px;
    margin-block: 40px;
    background: linear-gradient(
      3deg,
      color.change(theme.$primary, $lightness: 20),
      theme.$primary,
      color.change(theme.$primary, $lightness: 20)
    );
    display: flex;
    border-radius: 20px;
    width: 95%;
    padding: 20px;
    padding-bottom: 40px;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      height: 30rem;
      padding-bottom: 20px;
    }
    figure {
      margin-block: 5px;
      margin-inline: 20px;
      position: relative;
      width: 500px;
      .content-image {
        border-radius: 5px;
        opacity: 0;
        @media (max-width: 768px) {
          width: 80%;
          top: 200px;
          left: 10%;
          max-width: 100%;
        }
        max-width: 350px;
        position: absolute;
        width: 100%;
        transition: opacity 1s;
      }
    }
  }
  .section-title {
    text-align: center;
  }
}
.accordion {
  margin-block: 5px;
  width: 80%;
  height: 180px;
  @media (max-width: 768px) {
    width: 400px;
  }
  .accordion-item {
    .accordion-button {
      border-radius: 2px;
      position: relative;
      width: 100%;
      border: none;
      height: 30px;
      * {
        //border: 1px solid;
      }
      .icon {
        width: 30px;
        position: absolute;
        right: 90%;
      }
    }
    .accordion-content {
      width: 99.5%;
      overflow: hidden;
      max-height: 0px;
      transition-delay: -1s;
      transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    }
    .show {
      max-height: 200px;
      border: 1px solid;
      transition: all 0.5s cubic-bezier(1, 0, 1, 0);
    }
  }
}
.top {
  z-index: 999;
  opacity: 1 !important;
}
.development {
  .grid {
    padding: 30px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1100px;
    .grid-item {
      display: flex;
      flex-direction: column;
      &:first-of-type {
        grid-column: 1/3;
      }
      &:last-of-type {
        .grid-text {
          width: 50%;
          margin-bottom: 20px;
        }
        grid-column: 1/4;
      }
      .grid-text {
        @media (max-width: 756px) {
          width: 200px;
        }
        width: 90%;
      }
      .grid-flex {
        display: flex;
        align-items: center;
        @media (max-width: 756px) {
          flex-direction: column;
        }
      }
      .grid-title {
        padding-block: 20px;
        font-size: 24px;
        width: 200px;
      }
      button {
        width: 150px;
      }
      background-color: theme.$primary;
      padding: 30px;
      margin: 20px;
    }
  }
}
